.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-ul {
  display: flex;
  list-style: none;
  margin-right: 344px;
}
.header-ul {
  display: flex;
  list-style: none;
}
.qwe {
  display: flex;
}
.ul-a {
  margin-right: 50px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-a {
  margin-right: 92px;
}
.nav-li {
  margin-right: 50px;
  margin-left: 50px;
}
