.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-ul {
  display: flex;
  list-style: none;
  margin-right: 344px;
}
.header-ul {
  display: flex;
  list-style: none;
}
.qwe {
  display: flex;
}
.ul-a {
  margin-right: 50px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-a {
  margin-right: 92px;
}
.nav-li {
  margin-right: 50px;
  margin-left: 50px;
}
.all-ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 30px;
}
.li-a2 {
  margin-right: 30px;
}
.main-ul {
  display: flex;
  list-style: none;
}
.img1:not(:last-child) {
  margin-right: 30px;
}
.main-ul2 {
  display: flex;
  list-style: none;
}
.img2:not(:last-child) {
  margin-right: 30px;
}
.dd {
  padding-bottom: 30px;
}
.main-ul3 {
  display: flex;
  list-style: none;
}
.img3:not(:last-child) {
  margin-right: 30px;
}
.pp {
  padding-bottom: 30px;
}
.mm {
  padding-bottom: 194px;
}
.ww {
  padding-top: 20px;
}
.footer-ul {
  display: block;
  list-style: none;
}
.ul-li2 {
  margin-right: 6px;
}
.header-nav {
  display: flex;
}
